.display{
    background-color: brown;
    width: 100%;
    display: flex;
    justify-content: center;
}
.display-main{
    width: 100%;
}
.search{
    /* background: red; */
    z-index: 2;
    position: fixed;
    top: 2em;
    width: 50%;
    height: 4.5%;
}